.table-row-custom {
  vertical-align: top;
  font-family: 'Roboto Condensed', system-ui, -apple-system, Helvetica Neue, Arial, sans-serif;
}

.font-mono {
  font-family: 'Noto Sans Mono', system-ui, -apple-system, Helvetica Neue, Arial, sans-serif;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/RobotoCondensed-Regular.ttf')
}

@font-face {
  font-family: 'Noto Sans Mono';
  src: url('/fonts/NotoSansMono.ttf')
}